html,
body {
  height: 100%; /* make sure the root fills the viewport */
  margin: 0; /* remove default body margin */
}

.dashboard {
  /* background-color: var(--spotify-black); */
  /* color: var(--spotify-lightgray); */
  min-height: 100dvh;
  padding: 2rem;
  font-family: var(--font-main);
  /* border: 2px solid blue; */
}

.alignCenter {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.link {
  color: var(--spotify-text-color);
  text-decoration: underline;
}

.loginPage {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  height: 100dvh;
  /* border: 2px solid yellow; */
}

.linkPage {
}

.loginForm {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: none;
}

.formInput {
  background-color: var(--spotify-lightgray);
  color: var(--background-color);
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 0.3rem 0.6rem;
}

#playlistTitleForm {
  outline: 1px solid var(--spotify-text-color);
}

.fileUploadForm {
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.submitButton {
  background-color: var(--spotify-green);
  color: white;
  outline: none;
  border: none;
  border-radius: 20px;
  /* height: 0.3rem; */
  padding: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

.submitButton:hover {
  background-color: var(--spotify-lightgreen);
}

.secondaryBtn {
  background-color: var(--spotify-lightgray);
  color: var(--background-color);
  border: none;
  border-radius: 20px;
  padding: 0.5rem;
  cursor: pointer;
}

.spotifyLogin {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.divider {
  flex: 1;
  border: none;
  border-top: 1px solid var(--spotify-lightgray);
}

.popupDivider {
  flex: 1;
  border: none;
  border-top: 1px solid var(--spotify-text-color);
}

.dividerContainer {
  display: flex;
  align-items: center;
}

.smallText {
  font-size: 0.75rem;
  color: var(--text-gray);
  max-width: 50%;
  text-align: center;
}

.subTitleText {
  font-size: 0.85rem;
  color: var(--text-gray);
  max-width: 50%;
  text-align: center;
  padding-top: 1rem;
}

.subContentText {
  font-size: 0.85rem;
  color: var(--text-gray);
  max-width: 80%;
  text-align: center;
  padding-top: 1rem;
}

.textFooter {
  display: flex;
  justify-content: center;
  padding-top: 0;
  margin-top: 0;
}

/* .footer {
  position: absolute;
} */

.footer {
  position: absolute;
  bottom: 0;
  height: 2rem;
  font-size: 0.6rem;
  color: var(--text-gray);
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.profileImage {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.headerText {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--spotify-text-color);
}

.playlistsSection {
  background-color: var(--spotify-darkgray);
  padding: 1rem;
  border-radius: 8px;
}

.playlistsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.sectionHeaderText {
  font-size: 1rem;
}

.search {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  border: none;
  outline: none;
  background: #2a2a2a;
  color: white;
}

.playlistList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.playlistItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.playlistTitle {
  white-space: nowrap;
  overflow: hidden; /* hide overflow */
  text-overflow: ellipsis;
  max-width: 200px;

  /* min-width: 0; */
  font-weight: 400;
  font-size: 0.75rem;
}

.trackCount {
  font-size: 0.7rem;
}

.iconContainer {
  width: 20px;
  height: 20px;
  background-color: var(--spotify-green);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
}

.downloadIcon {
  width: 15px;
  height: 15px;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  /* font-size: 1.2rem; */
  /* font-size: 14px; */
  /* transition: transform 0.2s ease; */
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.pagination button {
  background: var(--spotify-darkgray);
  border: none;
  color: var(--spotify-text-color);
}

.iconContainer:hover {
  transform: scale(1.2);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 100;
}

.overlay.active {
  visibility: visible;
  opacity: 1;
}

.popup {
  background: var(--spotify-lightgray);
  width: 90vw;
  min-height: 20vh;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.3s ease opacity 0.3s ease;
}

.popupText {
  font-size: 0.9rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.scrollableWindow {
  max-height: 80vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--spotify-lightgray);
}

.scrollableWindow::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

.scrollableWindow::-webkit-scrollbar-track {
  /* background: black; gives track a dark background */
}

.scrollableWindow::-webkit-scrollbar-thumb {
  background-color: var(--spotify-lightgray); /* scrollbar handle color */
  border-radius: 4px;
  border: 2px solid var(--spotify-darkgray); /* space around thumb */
}

.footerMessage {
  display: flex;
  flex-direction: column;
  height: 10vh;
}

.ynOptions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.confirmOptions {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.confirmBtn {
  cursor: pointer;
}

.ynBtn {
  width: 10%;
  font-size: 0.8rem;
  border-radius: 10px;
}

.popupText div {
  margin-bottom: 0.8rem;
}

.overlay.active .popup {
  transform: scale(1);
  opacity: 1;
}

.downloadOptions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.backupOption {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.menuToggle {
  display: none;
}

.menuIcon {
  /* border: 2px solid green; */
  border: none;
  outline: none;
  background-color: var(--background-color);
  width: 2rem;
  height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menuIcon span {
  display: block;
  height: 1px;
  width: 100%;
  /* color: white; */
  background-color: var(--text-gray);
  border-radius: 2px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background-color: var(--spotify-darkgray);
  padding-top: 4rem;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.sidebarMenu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebarMenu li {
  cursor: pointer;
}

.exitIcon {
  color: var(--text-gray);
  background-color: var(--background-color);
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.laptopAnimation {
  width: 10rem;
  height: 10rem;
}

.appLogo {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconWrapper {
  display: grid;
  place-items: center;
  width: 8rem;
  height: 8rem;
  aspect-ratio: 1;
  margin: 0;
}

.iconWrapper > * {
  grid-area: 1 / 1;
}

.cloudIcon {
  width: 8rem;
}

.musicIcon {
  width: 3rem;
  height: 3rem;
}

.landingPage {
  background-color: var(--background-color);
  min-height: 100dvh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.titleText {
  font-size: 2rem;
  color: var(--spotify-green);
  font-weight: bold;
}

.landingContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.landingContent h1 {
  font: var(--font-main);
  font-size: 1.2rem;
  font-weight: bold;
}

.innerContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* gap: 1rem; */
  /* border: 2px solid white; */
}

.landingButtons {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 1rem;
  gap: 1.2rem;
}

.signupBtnHollow {
  outline: none;
  border: 1px solid var(--spotify-green);
  border-radius: 20px;
  color: var(--spotify-text-color);
  background-color: var(--background-color);
  cursor: pointer;
  width: 40%;
  height: 2rem;
}

.signupBtnHollow:hover {
  background-color: var(--spotify-lightgray);
}

.navButton {
  outline: none;
  border: 1px solid var(--text-gray);
  border-radius: 20px;
  background-color: var(--background-color);
  color: var(--text-gray);
  width: 50%;
  cursor: pointer;
  /* font-size: 0.7rem; */
}

.border {
  border: 2px solid yellow;
}

.navButton:hover {
  background-color: var(--spotify-lightgray);
}

.loginBtnHollow {
  outline: none;
  border: none;
  border-radius: 20px;
  color: black;
  background-color: var(--spotify-lightgreen);
  cursor: pointer;
  width: 40%;
  height: 2rem;
}

.loginBtnHollow:hover {
  background-color: #a5f2c0;
}

.loadingContext {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  z-index: 9999;
}

.fullPageLoader {
  background-color: black;
}

.transparentLoader {
  background-color: rgba(0, 0, 0, 0.5);
}

.loadingAnimation {
  width: 5rem;
  height: 5rem;
}

.grayText {
  color: var(--text-gray);
}

@media (min-width: 480px) {
  .loginPage {
    width: 50%;
    margin: 0 auto;
  }

  .navButton {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .laptopAnimation {
    width: 15rem;
    height: 15rem;
  }

  .landingContent h1 {
    font-size: 2rem;
  }

  .navButton {
    width: 50%;
  }

  .login {
    max-width: 30%;
  }

  .playlistTitle {
    max-width: 500px;
  }

  .subContentText {
    max-width: 50%;
  }
}

@media (min-width: 1024px) {
  .iconWrapper {
    width: 10rem;
    height: 10rem;
  }

  .cloudIcon {
    width: 10rem;
  }

  .musicIcon {
    width: 4rem;
    height: 4rem;
  }

  .titleText {
    font-size: 2.5rem;
  }

  .signupBtnHollow {
    font-size: 1rem;
  }

  .loginBtnHollow {
    font-size: 1rem;
  }

  .laptopAnimation {
    width: 30rem;
    height: 30rem;
  }

  .navButton {
    width: 90%;
  }

  .loginPage {
    max-width: 30%;
  }

  .headerText {
    font-size: 2rem;
  }

  .profileImage {
    width: 100px;
    height: 100px;
  }

  h5 {
    font-size: 1rem;
  }

  .search {
    width: 20rem;
  }

  .iconContainer {
    width: 25px;
    height: 25px;
  }

  .downloadIcon {
    width: 20px;
    height: 20px;
  }

  .playlistTitle {
    font-size: 0.8rem;
    max-width: 1000px;
  }

  .trackCount {
    font-size: 0.75rem;
  }

  .playlistsHeader {
    margin-bottom: 0;
  }

  .playlistsSection {
    width: 60vw;
  }

  .componentContainer {
    display: flex;
    justify-content: center;
  }

  .sidebar {
    width: 20%;
  }

  .popup {
    width: 30vw;
    min-height: 20vh;
  }

  .popup span {
    font-size: 0.8em;
  }
}
